**pycache**/
**/**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log

venv/
.env
.env.*

*.sqlite3
*.db

blockchain/node_modules/
blockchain/cache/
blockchain/artifacts/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/
dist/

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
